In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./hepatitis.csv',header=None)
data

     0   1   2  3   4  5  6  7  8  9  10 11 12 13    14   15   16   17  18  19
0     2  30   2  1   2  2  2  2  1  2  2  2  2  2  1.00   85   18  4.0   ?   1
1     2  50   1  1   2  1  2  2  1  2  2  2  2  2  0.90  135   42  3.5   ?   1
2     2  78   1  2   2  1  2  2  2  2  2  2  2  2  0.70   96   32  4.0   ?   1
3     2  31   1  ?   1  2  2  2  2  2  2  2  2  2  0.70   46   52  4.0  80   1
4     2  34   1  2   2  2  2  2  2  2  2  2  2  2  1.00    ?  200  4.0   ?   1
..   ..  ..  .. ..  .. .. .. .. .. .. .. .. .. ..   ...  ...  ...  ...  ..  ..
150   1  46   1  2   2  1  1  1  2  2  2  1  1  1  7.60    ?  242  3.3  50   2
151   2  44   1  2   2  1  2  2  2  1  2  2  2  2  0.90  126  142  4.3   ?   2
152   2  61   1  1   2  1  1  2  1  1  2  1  2  2  0.80   75   20  4.1   ?   2
153   2  53   2  1   2  1  2  2  2  2  1  1  2  1  1.50   81   19  4.1  48   2
154   1  43   1  2   2  1  2  2  2  2  1  1  1  2  1.20  100   19  3.1  42   2

[155 rows x 20 columns]

In [3]:
data.columns = ['CLASS', 'AGE', 'SEX', 'STEROID', 'ANTIVIRALS', 'FATIGUE', 'MALAISE', 'ANOREXIA', 'LIVER BIG', 'LIVER FIRM', 'SPLEEN PALPABLE', 'SPIDERS', 'ASCITES', 'VARICES', 'BILIRUBIN', 'ALK PHOSPHATE', 'SGOT', 'ALBUMIN', 'PROTIME', 'HISTOLOGY']
data.head()

,CLASS,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [4]:
data.shape

(155, 20)

## Data Cleaning

In [5]:
data.isna().sum()

CLASS              0
AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [6]:
(data == '?').sum()

CLASS               0
AGE                 0
SEX                 0
STEROID             1
ANTIVIRALS          0
FATIGUE             1
MALAISE             1
ANOREXIA            1
LIVER BIG          10
LIVER FIRM         11
SPLEEN PALPABLE     5
SPIDERS             5
ASCITES             5
VARICES             5
BILIRUBIN           6
ALK PHOSPHATE      29
SGOT                4
ALBUMIN            16
PROTIME            67
HISTOLOGY           0
dtype: int64

In [7]:
for cols in data.columns:
    print(cols,data[cols].unique())
    print('\n')

CLASS [2 1]


AGE [30 50 78 31 34 51 23 39 32 41 47 38 66 40 22 27 42 25 49 58 61 62 26 35
 37 20 65 52 33 56 28 36 44 64 45 57 24 67 59 60 48 54  7 69 72 70 46 53
 43]


SEX [2 1]


STEROID ['1' '2' '?']


ANTIVIRALS [2 1]


FATIGUE ['2' '1' '?']


MALAISE ['2' '1' '?']


ANOREXIA ['2' '1' '?']


LIVER BIG ['1' '2' '?']


LIVER FIRM ['2' '1' '?']


SPLEEN PALPABLE ['2' '1' '?']


SPIDERS ['2' '1' '?']


ASCITES ['2' '1' '?']


VARICES ['2' '?' '1']


BILIRUBIN ['1.00' '0.90' '0.70' '?' '1.30' '2.20' '2.00' '1.20' '0.60' '0.40' '0.80'
 '1.40' '2.30' '0.50' '0.30' '4.60' '1.80' '3.50' '4.10' '1.60' '2.80'
 '1.50' '2.50' '3.00' '4.80' '2.40' '1.70' '1.10' '3.20' '2.90' '8.00'
 '3.90' '1.90' '4.20' '7.60']


ALK PHOSPHATE ['85' '135' '96' '46' '?' '95' '78' '59' '81' '57' '72' '102' '62' '53'
 '70' '48' '133' '60' '45' '175' '280' '58' '67' '194' '150' '180' '75'
 '56' '71' '74' '80' '191' '125' '110' '50' '92' '52' '26' '215' '164'
 '103' '34' '68' '82' '127' '76' '100' '55' '167' '30' '179' '141' '44'
 '165' '118' '230' '107' '40' '147' '114' '84' '123' '168' '86' '138'
 '155' '63' '256' '119' '139' '90' '160' '158' '115' '243' '181' '130'
 '166' '295' '120' '65' '109' '89' '126']


SGOT ['18' '42' '32' '52' '200' '28' '?' '48' '120' '30' '249' '60' '144' '89'
 '53' '166' '20' '98' '63' '46' '55' '25' '58' '29' '92' '150' '68' '14'
 '16' '90' '86' '110' '80' '420' '44' '65' '145' '31' '78' '59' '38' '75'
 '64' '54' '43' '33' '15' '39' '182' '271' '45' '100' '242' '24' '224'
 '69' '156' '123' '117' '157' '128' '23' '40' '227' '269' '34' '648' '225'
 '136' '81' '153' '118' '231' '101' '278' '49' '181' '140' '70' '114'
 '173' '528' '152' '142' '19']


ALBUMIN ['4.0' '3.5' '?' '4.4' '3.9' '3.7' '4.9' '2.9' '4.3' '4.1' '4.2' '4.7'
 '3.8' '2.7' '4.6' '5.0' '3.3' '4.5' '3.4' '3.1' '3.0' '2.6' '5.3' '4.8'
 '2.8' '3.6' '2.1' '6.4' '2.4' '2.2']


PROTIME ['?' '80' '75' '85' '54' '52' '78' '46' '63' '62' '64' '39' '100' '47'
 '70' '36' '40' '74' '60' '73' '90' '21' '77' '29' '41' '66' '57' '56'
 '76' '58' '84' '38' '67' '31' '51' '23' '72' '32' '30' '0' '50' '43' '35'
 '48' '42']


HISTOLOGY [1 2]

In [8]:
data.replace('?',np.nan,inplace=True)

In [9]:
(data == '?').sum()

CLASS              0
AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [10]:
data.isna().sum()

CLASS               0
AGE                 0
SEX                 0
STEROID             1
ANTIVIRALS          0
FATIGUE             1
MALAISE             1
ANOREXIA            1
LIVER BIG          10
LIVER FIRM         11
SPLEEN PALPABLE     5
SPIDERS             5
ASCITES             5
VARICES             5
BILIRUBIN           6
ALK PHOSPHATE      29
SGOT                4
ALBUMIN            16
PROTIME            67
HISTOLOGY           0
dtype: int64

In [11]:
data_to_mean = ['BILIRUBIN','ALK PHOSPHATE','SGOT','ALBUMIN','PROTIME']

for col in data_to_mean:
    data[col] = pd.to_numeric(data[col],errors='coerce')
    data[col] = data[col].fillna(data[col].mean())

In [12]:
data.isna().sum()

CLASS               0
AGE                 0
SEX                 0
STEROID             1
ANTIVIRALS          0
FATIGUE             1
MALAISE             1
ANOREXIA            1
LIVER BIG          10
LIVER FIRM         11
SPLEEN PALPABLE     5
SPIDERS             5
ASCITES             5
VARICES             5
BILIRUBIN           0
ALK PHOSPHATE       0
SGOT                0
ALBUMIN             0
PROTIME             0
HISTOLOGY           0
dtype: int64

In [13]:
data_to_mode = ['STEROID','FATIGUE','MALAISE','ANOREXIA','LIVER BIG','LIVER FIRM','SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES']

for col in data_to_mode:
    data[col] = pd.to_numeric(data[col],errors='coerce')
    data[col] = data[col].fillna(data[col].mode().loc[0])

In [14]:
data.isna().sum()

CLASS              0
AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [15]:
for col in data.columns:
    print(col,data[col].unique())
    print('\n')

CLASS [2 1]


AGE [30 50 78 31 34 51 23 39 32 41 47 38 66 40 22 27 42 25 49 58 61 62 26 35
 37 20 65 52 33 56 28 36 44 64 45 57 24 67 59 60 48 54  7 69 72 70 46 53
 43]


SEX [2 1]


STEROID [1. 2.]


ANTIVIRALS [2 1]


FATIGUE [2. 1.]


MALAISE [2. 1.]


ANOREXIA [2. 1.]


LIVER BIG [1. 2.]


LIVER FIRM [2. 1.]


SPLEEN PALPABLE [2. 1.]


SPIDERS [2. 1.]


ASCITES [2. 1.]


VARICES [2. 1.]


BILIRUBIN [1.         0.9        0.7        1.42751678 1.3        2.2
 2.         1.2        0.6        0.4        0.8        1.4
 2.3        0.5        0.3        4.6        1.8        3.5
 4.1        1.6        2.8        1.5        2.5        3.
 4.8        2.4        1.7        1.1        3.2        2.9
 8.         3.9        1.9        4.2        7.6       ]


ALK PHOSPHATE [ 85.         135.          96.          46.         105.32539683
  95.          78.          59.          81.          57.
  72.         102.          62.          53.          70.
  48.         133.          60.          45.         175.
 280.          58.          67.         194.         150.
 180.          75.          56.          71.          74.
  80.         191.         125.         110.          50.
  92.          52.          26.         215.         164.
 103.          34.          68.          82.         127.
  76.         100.          55.         167.          30.
 179.         141.          44.         165.         118.
 230.         107.          40.         147.         114.
  84.         123.         168.          86.         138.
 155.          63.         256.         119.         139.
  90.         160.         158.         115.         243.
 181.         130.         166.         295.         120.
  65.         109.          89.         126.        ]


SGOT [ 18.          42.          32.          52.         200.
  28.          85.89403974  48.         120.          30.
 249.          60.         144.          89.          53.
 166.          20.          98.          63.          46.
  55.          25.          58.          29.          92.
 150.          68.          14.          16.          90.
  86.         110.          80.         420.          44.
  65.         145.          31.          78.          59.
  38.          75.          64.          54.          43.
  33.          15.          39.         182.         271.
  45.         100.         242.          24.         224.
  69.         156.         123.         117.         157.
 128.          23.          40.         227.         269.
  34.         648.         225.         136.          81.
 153.         118.         231.         101.         278.
  49.         181.         140.          70.         114.
 173.         528.         152.         142.          19.        ]


ALBUMIN [4.         3.5        3.81726619 4.4        3.9        3.7
 4.9        2.9        4.3        4.1        4.2        4.7
 3.8        2.7        4.6        5.         3.3        4.5
 3.4        3.1        3.         2.6        5.3        4.8
 2.8        3.6        2.1        6.4        2.4        2.2       ]


PROTIME [ 61.85227273  80.          75.          85.          54.
  52.          78.          46.          63.          62.
  64.          39.         100.          47.          70.
  36.          40.          74.          60.          73.
  90.          21.          77.          29.          41.
  66.          57.          56.          76.          58.
  84.          38.          67.          31.          51.
  23.          72.          32.          30.           0.
  50.          43.          35.          48.          42.        ]


HISTOLOGY [1 2]

## Create Two Subsets

In [16]:
data['SEX'].unique()

array([2, 1], dtype=int64)

In [17]:
data_male = data[data['SEX'] == 1]
data_male

,CLASS,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.000000,42.0,3.5,61.852273,1
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.000000,32.0,4.0,61.852273,1
3,2,31,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.000000,52.0,4.0,80.000000,1
4,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,105.325397,200.0,4.0,61.852273,1
5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.000000,28.0,4.0,75.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2,36,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.6,120.000000,30.0,4.0,61.852273,2
150,1,46,1,2.0,2,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,7.6,105.325397,242.0,3.3,50.000000,2
151,2,44,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,126.000000,142.0,4.3,61.852273,2
152,2,61,1,1.0,2,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,0.8,75.000000,20.0,4.1,61.852273,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.000000,19.0,3.1,42.000000,2

In [18]:
data_male.shape

(139, 20)

In [19]:
data_female = data[data['SEX'] == 2]
data_female

,CLASS,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.000000,61.852273,1
20,2,22,2,2.0,1,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,48.0,20.0,4.200000,64.000000,1
24,2,25,2,1.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.4,45.0,18.0,4.300000,70.000000,1
27,2,58,2,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.4,175.0,55.0,2.700000,36.000000,1
32,2,41,2,2.0,1,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,81.0,53.0,5.000000,74.000000,1
33,2,26,2,1.0,2,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.5,135.0,29.0,3.800000,60.000000,1
37,2,20,2,1.0,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.3,150.0,68.0,3.900000,61.852273,1
47,2,28,2,2.0,2,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.8,191.0,420.0,3.300000,46.000000,1
59,2,45,2,1.0,2,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,85.0,75.0,3.817266,61.852273,1
77,2,34,2,1.0,1,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.6,30.0,24.0,4.000000,76.000000,1
83,2,67,2,1.0,2,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.5,179.0,69.0,2.900000,61.852273,1
84,2,62,2,2.0,2,1.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.3,141.0,156.0,3.900000,58.000000,1
90,2,50,2,1.0,2,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,0.9,230.0,117.0,3.400000,41.000000,2
115,2,69,2,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.2,119.0,136.0,3.817266,61.852273,2
125,2,34,2,2.0,2,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,0.7,70.0,24.0,4.100000,100.000000,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.100000,48.000000,2

In [20]:
data_female.shape

(16, 20)

## Merge two subsets

In [21]:
data_sex = pd.concat([data_male,data_female])
data_sex

,CLASS,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.000000,42.0,3.500000,61.852273,1
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.000000,32.0,4.000000,61.852273,1
3,2,31,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.000000,52.0,4.000000,80.000000,1
4,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,105.325397,200.0,4.000000,61.852273,1
5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.000000,28.0,4.000000,75.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2,62,2,2.0,2,1.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.3,141.000000,156.0,3.900000,58.000000,1
90,2,50,2,1.0,2,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,0.9,230.000000,117.0,3.400000,41.000000,2
115,2,69,2,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.2,119.000000,136.0,3.817266,61.852273,2
125,2,34,2,2.0,2,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,0.7,70.000000,24.0,4.100000,100.000000,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.000000,19.0,4.100000,48.000000,2

## Sort Data using age, SGOT, PROTIME

In [22]:
data_sort = data.sort_values(by=['AGE','SGOT','PROTIME'],ascending=False)
data_sort

,CLASS,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.000000,61.852273,1
133,2,72,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,115.0,52.0,3.400000,50.000000,2
147,1,70,1,1.0,2,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.7,109.0,528.0,2.800000,35.000000,2
115,2,69,2,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.2,119.0,136.0,3.817266,61.852273,2
83,2,67,2,1.0,2,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.5,179.0,69.0,2.900000,61.852273,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,2,22,2,2.0,1,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,48.0,20.0,4.200000,64.000000,1
148,2,20,1,1.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,89.0,152.0,4.000000,61.852273,2
121,2,20,1,1.0,2,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,160.0,118.0,2.900000,23.000000,2
37,2,20,2,1.0,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.3,150.0,68.0,3.900000,61.852273,1
110,2,7,1,2.0,2,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,0.7,256.0,25.0,4.200000,61.852273,2

## Data Transpose

In [23]:
data_sort = data.transpose()
data_sort

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
CLASS,2.000000,2.000000,2.000000,2.0,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,2.0,1.000000,1.0,2.000000,2.000000,1.000000,2.000000,2.000000,2.0,1.0
AGE,30.000000,50.000000,78.000000,31.0,34.000000,34.0,51.000000,23.000000,39.000000,30.000000,...,31.0,41.000000,70.0,20.000000,36.000000,46.000000,44.000000,61.000000,53.0,43.0
SEX,2.000000,1.000000,1.000000,1.0,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,1.0,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,2.0,1.0
STEROID,1.000000,1.000000,2.000000,2.0,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,1.0,2.000000,1.0,1.000000,2.000000,2.000000,2.000000,1.000000,1.0,2.0
ANTIVIRALS,2.000000,2.000000,2.000000,1.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.0
FATIGUE,2.000000,1.000000,1.000000,2.0,2.000000,2.0,1.000000,2.000000,1.000000,2.000000,...,1.0,1.000000,1.0,2.000000,2.000000,1.000000,1.000000,1.000000,1.0,1.0
MALAISE,2.000000,2.000000,2.000000,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,1.0,2.000000,2.000000,1.000000,2.000000,1.000000,2.0,2.0
ANOREXIA,2.000000,2.000000,2.000000,2.0,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,1.0,2.000000,2.000000,1.000000,2.000000,2.000000,2.0,2.0
LIVER BIG,1.000000,1.000000,2.000000,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.0
LIVER FIRM,2.000000,2.000000,2.000000,2.0,2.000000,2.0,2.000000,2.000000,1.000000,2.000000,...,2.0,1.000000,2.0,2.000000,2.000000,2.000000,1.000000,1.000000,2.0,2.0
SPLEEN PALPABLE,2.000000,2.000000,2.000000,2.0,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,2.0,1.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,1.0,1.0
SPIDERS,2.000000,2.000000,2.000000,2.0,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,2.0,1.000000,2.0,2.000000,2.000000,1.000000,2.000000,1.000000,1.0,1.0
ASCITES,2.000000,2.000000,2.000000,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,2.0,2.000000,2.000000,1.000000,2.000000,2.000000,2.0,1.0
VARICES,2.000000,2.000000,2.000000,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,1.000000,2.0,2.000000,2.000000,1.000000,2.000000,2.000000,1.0,2.0
BILIRUBIN,1.000000,0.900000,0.700000,0.7,1.000000,0.9,1.427517,1.000000,0.700000,1.000000,...,1.2,4.200000,1.7,0.900000,0.600000,7.600000,0.900000,0.800000,1.5,1.2
ALK PHOSPHATE,85.000000,135.000000,96.000000,46.0,105.325397,95.0,105.325397,105.325397,105.325397,105.325397,...,75.0,65.000000,109.0,89.000000,120.000000,105.325397,126.000000,75.000000,81.0,100.0
SGOT,18.000000,42.000000,32.000000,52.0,200.000000,28.0,85.894040,85.894040,48.000000,120.000000,...,173.0,120.000000,528.0,152.000000,30.000000,242.000000,142.000000,20.000000,19.0,19.0
ALBUMIN,4.000000,3.500000,4.000000,4.0,4.000000,4.0,3.817266,3.817266,4.400000,3.900000,...,4.2,3.400000,2.8,4.000000,4.000000,3.300000,4.300000,4.100000,4.1,3.1
PROTIME,61.852273,61.852273,61.852273,80.0,61.852273,75.0,61.852273,61.852273,61.852273,61.852273,...,54.0,61.852273,35.0,61.852273,61.852273,50.000000,61.852273,61.852273,48.0,42.0
HISTOLOGY,1.000000,1.000000,1.000000,1.0,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.0

## Melt Data to long Format

In [24]:
data_melted = pd.melt(data,id_vars=['CLASS','AGE'],var_name='Metrics')
data_melted

      CLASS  AGE    Metrics  value
0         2   30        SEX    2.0
1         2   50        SEX    1.0
2         2   78        SEX    1.0
3         2   31        SEX    1.0
4         2   34        SEX    1.0
...     ...  ...        ...    ...
2785      1   46  HISTOLOGY    2.0
2786      2   44  HISTOLOGY    2.0
2787      2   61  HISTOLOGY    2.0
2788      2   53  HISTOLOGY    2.0
2789      1   43  HISTOLOGY    2.0

[2790 rows x 4 columns]

## Cast Data to Wide Format

In [25]:
data_cast = pd.pivot_table(data,index=['CLASS','AGE'],values='HISTOLOGY')
data_cast

           HISTOLOGY
CLASS AGE
1     30         2.0
      31         2.0
      33         2.0
      34         1.0
      35         2.0
...              ...
2     66         1.0
      67         1.0
      69         2.0
      72         2.0
      78         1.0

[71 rows x 1 columns]